.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 1s ease;
  height: 0;
}
.khan__buy-link:hover {
  opacity: .5;
}
